body {

    font-size: 30pt;
  
    font-family:serif;
  
    color: black;

    background-color: cyan;
  
  
  }
  
  
  h1 {
  
    font-size: 30pt;

    font-family: serif;
  
    font-weight: bold;

  
  }

  h3 {

    font-size: 30pt;
  
    font-family: serif;
  
    font-weight: bold;
  
  }

